rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedInUser(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if isSignedInUser(userId);
    }
  }
}
